<div ng-controller='DocumentController' class="span12">

    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active">{{ fileName }}</li>
    </ul>

    <div class="btn-group pull-right">
        <button class="edit-document btn">
            <i class="icon-edit"></i>
            Edit
        </button>
    </div>

    <div class="document" ng-bind-html-unsafe="html"></div>

    <textarea class="document-source input-block-level" rows="10" style="display: none">Source</textarea>

</div>
