<div ng-controller='RepositoryController'>
    <ul class="nav nav-tabs nav-stacked">
        <li >
            <a href="#">
                <i class="icon-chevron-up"></i>

            </a>
        </li>
        <li ng-repeat='directory in directories'>
            <a href="#/{{directory.name}}">
                <i class="icon-folder-open"></i>
                {{directory.name}}
                <i class="icon-chevron-right pull-right"></i>
            </a>
        </li>
        <li ng-repeat='file in files'>
            <a href="#/{{file.name}}">
                {{file.name}}
                <i class="icon-chevron-right pull-right"></i>
            </a>
        </li>
    </ul>
</div>